@import 'tailwindcss';
@import 'nprogress/nprogress.css';

html,
body,
#app {
  width: 100vw;
  max-width: 100dvw;
  height: 100vh;
  max-height: 100dvh;
}

#app {
  display: flex;
  flex-direction: column;
}
